<h5>Pipes Example</h5>

<p>Title: {{ book.title | uppercase | lowercase | camelCase }}</p>
<p>Rating: {{ book.rating | number: "1.1-1" }}</p>
<p>Price: {{ book.price | currency: "BRL":true }}</p>
<p>Release Date: {{ book.releaseDate | date }}</p>
<br />

<p>Book: {{ book | json }}</p>

<input type="text" [(ngModel)]="filter" />
<br />
<input type="text" #newValue />
<button (click)="addCourse(newValue.value)">Add</button>

<h5>"Pure" pipe</h5>
<ul>
  <li *ngFor="let myBook of books | arrayFilter: filter">
    {{ myBook }}
  </li>
</ul>

<h5>"Impure" pipe</h5>
<ul>
  <li *ngFor="let myBook of books | impureArrayFilter: filter">
    {{ myBook }}
  </li>
</ul>

<h5>Correct way to filter data</h5>
<ul>
  <li *ngFor="let myBook of getCourses()">
    {{ myBook }}
  </li>
</ul>

<p>{{ asyncValue | async }}</p>

<p>{{ asyncValue2 | async }}</p>